<section id="contact">
    <div class="left">
        <p>FrontEnd Developer</p>
        <p>Hi, I'm <span>Uday</span></p>
        <p>from Hyderabad</p>
    </div>
    <div class="right">
        <div class="form">
            <p>First Name</p>
            <input type="text" required>
            <p>Last Name</p>
            <input type="text" required>
            <p>Email</p>
            <input type="email" required>
            <p>Designation</p>
            <input list="mylist" required>
            <datalist id="mylist">
                <option>Developer</option>
                <option>CEO</option>
                <option>HR</option>
            </datalist>
            <button>Submit</button>
        </div>
    </div>
</section>