section {
    padding: 4rem;
    display: flex;

    .left {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            color: #c24c00;
        }
    }

    .right {
        flex-basis: 40%;
    }
}

p {
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        padding: 10px;
        background: gray;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        width: 30%;
    }
}